In [11]:
import pandas as pd

df = pd.read_csv('/Users/pola/Documents/Africa Project/Africa_City_poplulation.csv', delimiter = ';')
df

      id        name        country population_2021
0      1       Lagos        Nigeria      9 000 000
1      2    Kinshasa       Congo DR      7 785 965
2      3       Cairo          Egypt      7 734 614
3      4  Alexandria          Egypt      3 811 516
4      5     Abidjan  Cote d'Ivoire      3 677 115
..   ...         ...            ...             ...
495  496     Lafiagi        Nigeria        102 779
496  497     Lubango         Angola        102 541
497  498        Sarh           Chad        102 528
498  499    Sabratah          Libya        102 038
499  500       Disuq          Egypt        102 037

[500 rows x 4 columns]

In [12]:
gdp_df = pd.read_csv('/Users/pola/Documents/Africa Project/gdp.csv', delimiter = ';',decimal=",")
gdp_df.columns = ['country', 'GDP_country_2019']
gdp_df

          country  GDP_country_2019
0           Aruba               NaN
1     Afghanistan        507.103432
2          Angola       2790.726615
3         Albania       5353.244856
4         Andorra      40886.391160
..            ...               ...
259        Kosovo       4430.784947
260   Yemen, Rep.        774.334490
261  South Africa       6001.401121
262        Zambia       1305.063254
263      Zimbabwe       1463.985910

[264 rows x 2 columns]

In [13]:
african_countries = df.country.unique()
print(african_countries)

['Nigeria' 'Congo DR' 'Egypt' "Cote d'Ivoire" 'South Africa' 'Morocco'
 'Angola' 'Ethiopia' 'Kenya' 'Tanzania' 'Somalia' 'Senegal' 'Algeria'
 'Sudan' 'Ghana' 'Guinea' 'Zimbabwe' 'Madagascar' 'Uganda' 'Cameroon'
 'Mali' 'Congo Republic' 'Zambia' 'Mozambique' 'Libya' 'Burkina Faso'
 'Liberia' 'Sierra Leone' 'Benin' 'Niger' 'Togo' 'Rwanda' 'Chad' 'Tunisia'
 'Mauritania' 'Malawi' 'Djibouti' 'Gabon' 'Eritrea'
 'Central African Republic' 'South Sudan' 'Guinea-Bissau' 'Gambia'
 'Burundi' 'Namibia' 'Botswana' 'Western Sahara' 'Equatorial Guinea'
 'Mauritius' 'Reunion' 'Lesotho' 'Cabo Verde' 'Eswatini']

In [14]:
africa_df = pd.DataFrame(african_countries, columns=['country'])

Left_join = pd.merge(africa_df, 
                     gdp_df, 
                     on ='country', 
                     how ='left')
Left_join

                     country  GDP_country_2019
0                    Nigeria       2229.858696
1                   Congo DR               NaN
2                      Egypt       3019.205829
3              Cote d'Ivoire       2276.333279
4               South Africa       6001.401121
5                    Morocco       3204.095003
6                     Angola       2790.726615
7                   Ethiopia        855.760862
8                      Kenya       1816.546916
9                   Tanzania       1122.121810
10                   Somalia               NaN
11                   Senegal       1446.830965
12                   Algeria       3973.964072
13                     Sudan        441.505603
14                     Ghana       2202.115567
15                    Guinea        962.839909
16                  Zimbabwe       1463.985910
17                Madagascar        523.359065
18                    Uganda        794.341078
19                  Cameroon       1507.450206
20                      Mali        879.008010
21            Congo Republic               NaN
22                    Zambia       1305.063254
23                Mozambique        503.570773
24                     Libya       7685.949267
25              Burkina Faso        786.895631
26                   Liberia        621.892954
27              Sierra Leone        527.533634
28                     Benin       1219.432672
29                     Niger        553.895050
30                      Togo        679.290249
31                    Rwanda        820.025242
32                      Chad        709.540310
33                   Tunisia       3317.453593
34                Mauritania       1679.444873
35                    Malawi        411.552340
36                  Djibouti       3414.924870
37                     Gabon       7767.013404
38                   Eritrea               NaN
39  Central African Republic        467.907441
40               South Sudan               NaN
41             Guinea-Bissau        697.294927
42                    Gambia               NaN
43                   Burundi        261.247473
44                   Namibia       4957.458222
45                  Botswana       7961.325181
46            Western Sahara               NaN
47         Equatorial Guinea       8131.923888
48                 Mauritius      11099.240280
49                   Reunion               NaN
50                   Lesotho       1118.131284
51                Cabo Verde       3603.781793
52                  Eswatini       3894.679807

In [15]:
pop_df = pd.read_csv('/Users/pola/Documents/Africa Project/Population_by_country_2019.csv', delimiter = ';')
pop_df.columns = ['country', 'population_country_2019']
pop_df

          country  population_country_2019
0           Aruba                 106314.0
1     Afghanistan               38041754.0
2          Angola               31825295.0
3         Albania                2854191.0
4         Andorra                  77142.0
..            ...                      ...
259        Kosovo                1788878.0
260   Yemen, Rep.               29161922.0
261  South Africa               58558267.0
262        Zambia               17861030.0
263      Zimbabwe               14645468.0

[264 rows x 2 columns]

In [16]:
final_df = pd.merge(Left_join, 
                     pop_df, 
                     on ='country', 
                     how ='left')
final_df

                     country  GDP_country_2019  population_country_2019
0                    Nigeria       2229.858696              200963599.0
1                   Congo DR               NaN               86790567.0
2                      Egypt       3019.205829              100388073.0
3              Cote d'Ivoire       2276.333279               25716544.0
4               South Africa       6001.401121               58558267.0
5                    Morocco       3204.095003               36471769.0
6                     Angola       2790.726615               31825295.0
7                   Ethiopia        855.760862              112078730.0
8                      Kenya       1816.546916               52573973.0
9                   Tanzania       1122.121810               58005463.0
10                   Somalia               NaN               15442905.0
11                   Senegal       1446.830965               16296364.0
12                   Algeria       3973.964072               43053054.0
13                     Sudan        441.505603               42813238.0
14                     Ghana       2202.115567               30417856.0
15                    Guinea        962.839909               12771246.0
16                  Zimbabwe       1463.985910               14645468.0
17                Madagascar        523.359065               26969307.0
18                    Uganda        794.341078               44269594.0
19                  Cameroon       1507.450206               25876380.0
20                      Mali        879.008010               19658031.0
21            Congo Republic               NaN                5380508.0
22                    Zambia       1305.063254               17861030.0
23                Mozambique        503.570773               30366036.0
24                     Libya       7685.949267                6777452.0
25              Burkina Faso        786.895631               20321378.0
26                   Liberia        621.892954                4937374.0
27              Sierra Leone        527.533634                7813215.0
28                     Benin       1219.432672               11801151.0
29                     Niger        553.895050               23310715.0
30                      Togo        679.290249                8082366.0
31                    Rwanda        820.025242               12626950.0
32                      Chad        709.540310               15946876.0
33                   Tunisia       3317.453593               11694719.0
34                Mauritania       1679.444873                4525696.0
35                    Malawi        411.552340               18628747.0
36                  Djibouti       3414.924870                 973560.0
37                     Gabon       7767.013404                2172579.0
38                   Eritrea               NaN                      NaN
39  Central African Republic        467.907441                4745185.0
40               South Sudan               NaN               11062113.0
41             Guinea-Bissau        697.294927                1920922.0
42                    Gambia               NaN                      NaN
43                   Burundi        261.247473               11530580.0
44                   Namibia       4957.458222                2494530.0
45                  Botswana       7961.325181                2303697.0
46            Western Sahara               NaN                      NaN
47         Equatorial Guinea       8131.923888                1355986.0
48                 Mauritius      11099.240280                1265711.0
49                   Reunion               NaN                      NaN
50                   Lesotho       1118.131284                2125268.0
51                Cabo Verde       3603.781793                 549935.0
52                  Eswatini       3894.679807                1148130.0

In [17]:
top25_gdp = final_df.nlargest(25, ['GDP_country_2019', 'population_country_2019'])
selection_10_countires = top25_gdp.sort_values(by = 'population_country_2019',ascending=False).head(10)
print(selection_10_countires)

          country  GDP_country_2019  population_country_2019
0         Nigeria       2229.858696              200963599.0
2           Egypt       3019.205829              100388073.0
4    South Africa       6001.401121               58558267.0
8           Kenya       1816.546916               52573973.0
12        Algeria       3973.964072               43053054.0
5         Morocco       3204.095003               36471769.0
6          Angola       2790.726615               31825295.0
14          Ghana       2202.115567               30417856.0
19       Cameroon       1507.450206               25876380.0
3   Cote d'Ivoire       2276.333279               25716544.0

In [45]:
# Selection on citites from 10 selected countries. Cities criterion --> city population greater than 900k 

cities_selection = pd.merge(selection_10_countires, 
                     df, 
                     on ='country', 
                     how ='left')

#cities_selection['population_2021'] = cities_selection['population_2021'].str.replace(" ", "")
cities_selection['population_2021'] = pd.to_numeric(cities_selection['population_2021'], downcast='float')

cities_selection_900k = cities_selection['population_2021'] >= 900000

filtered_df = cities_selection[cities_selection_900k]
print(filtered_df)

           country  GDP_country_2019  population_country_2019  id  \
0          Nigeria       2229.858696              200963599.0   1
1          Nigeria       2229.858696              200963599.0   6
2          Nigeria       2229.858696              200963599.0   7
3          Nigeria       2229.858696              200963599.0  27
4          Nigeria       2229.858696              200963599.0  41
5          Nigeria       2229.858696              200963599.0  42
6          Nigeria       2229.858696              200963599.0  43
7          Nigeria       2229.858696              200963599.0  45
87           Egypt       3019.205829              100388073.0   3
88           Egypt       3019.205829              100388073.0   4
89           Egypt       3019.205829              100388073.0  17
123   South Africa       6001.401121               58558267.0   8
124   South Africa       6001.401121               58558267.0  10
125   South Africa       6001.401121               58558267.0  18
126   South Africa       6001.401121               58558267.0  24
127   South Africa       6001.401121               58558267.0  26
128   South Africa       6001.401121               58558267.0  46
175          Kenya       1816.546916               52573973.0  13
182        Algeria       3973.964072               43053054.0  19
222        Morocco       3204.095003               36471769.0   9
223        Morocco       3204.095003               36471769.0  25
224        Morocco       3204.095003               36471769.0  47
225        Morocco       3204.095003               36471769.0  49
247         Angola       2790.726615               31825295.0  11
254          Ghana       2202.115567               30417856.0  21
255          Ghana       2202.115567               30417856.0  29
264       Cameroon       1507.450206               25876380.0  33
265       Cameroon       1507.450206               25876380.0  34
279  Cote d'Ivoire       2276.333279               25716544.0   5
280  Cote d'Ivoire       2276.333279               25716544.0  50

               name  population_2021
0             Lagos        9000000.0
1              Kano        3626068.0
2            Ibadan        3565108.0
3            Kaduna        1582102.0
4     Port Harcourt        1148665.0
5        Benin City        1125058.0
6         Maiduguri        1112449.0
7             Zaria         975153.0
87            Cairo        7734614.0
88       Alexandria        3811516.0
89             Giza        2443203.0
123       Cape Town        3433441.0
124          Durban        3120282.0
125    Johannesburg        2026469.0
126          Soweto        1695047.0
127        Pretoria        1619438.0
128  Port Elizabeth         967677.0
175         Nairobi        2750547.0
182         Algiers        1977663.0
222      Casablanca        3144909.0
223           Rabat        1655753.0
224             Fes         964891.0
225            Sale         903485.0
247          Luanda        2776168.0
254           Accra        1963264.0
255          Kumasi        1468609.0
264          Douala        1338082.0
265         Yaounde        1299369.0
279         Abidjan        3677115.0
280           Abobo         900000.0